# Pixi environment
.pixi/

# Python
__pycache__/
*.pyc
*.pyo

# Editor
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# dataset
dataset/
data/

# images
*.jpg
*.jpeg
*.png

# matlab
*.mat

# archives
*.zip
*.tar
*.gz
*.sha256
*.md5
/hs_venv

# frontend
node_modules/
dist/
